/* Global styling */

* {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

body {
  display: grid;
  width: 1800px;
  height: 1000px;
  margin: 2rem auto;
  grid-template-columns: 1.2fr 2fr 2fr 2fr;
  grid-template-rows: 12% 36% 4% 40% 8%;
}

div,
footer,
article {
  background-color: #efebe1;
}

/* Title Styling */
.title {
  display: flex;
  align-items: center;
  grid-area: 1 / 1 / 2 / 5;
  color: rgb(243, 242, 242);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background: rgb(10, 133, 8);
  background: linear-gradient(
    90deg,
    rgba(10, 133, 8, 1) 62%,
    rgba(0, 0, 0, 0.9248074229691877) 98%
  );
}

h1 {
  font-size: 3rem;
  margin-left: 1rem;
}

#logo {
  width: auto;
  height: 90%;
  border-radius: 20%;
  margin: 0.5rem;
}

/* Results Section */
.results {
  grid-area: 2 / 1 / 5 / 2;
  border: 2px solid rgb(142, 142, 142);
  border-bottom: none;
}

ul {
  margin: 0;
  padding-left: 10px;
}

ul li {
  font-size: 1.2rem;
  margin: 0.5rem;
  list-style: none;
}

button {
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0rem 0.5rem 15%;
  font-size: 1.2rem;
  text-align: center;
  width: 70%;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.5s;
}

button:hover {
  background-color: #386641;
  color: white;
  border: 2px solid orange;
}

/* images styling */
#img-container {
  grid-area: 2 / 2 / 3 / 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(142, 142, 142);
  border-left: none;
}

#img1,
#img2,
#img3 {
  height: 90%;
  width: 380px;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid black;
  border-radius: 10px;
}

#img1:hover,
#img2:hover,
#img3:hover {
  transform: scale(1.1);
}

/* Article and Canvas Styling */
article {
  grid-area: 4 / 2 / 5 / 5;
  border-right: 2px solid rgb(142, 142, 142);
  width: 100%;
  padding-bottom: 2rem;
}

#myChart {
  margin: 1rem auto;
}

/* footer */
footer {
  grid-area: 5 / 1 / 6 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(142, 142, 142);
}

footer h3 {
  font-size: 1.5rem;
}

/* blank div */
.blank-div {
  grid-area: 3 / 2 / 4 / 5;
  border-right: 2px solid rgb(142, 142, 142);
}
